<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<title>User.Html</title>
<style>
.head {
	text-align: center;
	text-transform: capitalize;
	font-family: 'Franklin Gothic Medium';
	color: brown;
}
</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
		<br/><br/>
			<h1 class="head">Hello, the page is for Users!</h1>
			<br/>
	<h3><a style="color: blue" th:href="@{/}">Home</a></h3>
	<br/><br/>
	<form th:action="@{/logout}" method="post">
		<input type="submit" class="btn btn-danger" value="Sign Out" />
	</form>
		</div>
	</div>
</div>
</body>
</html>